<!-- <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>
<mat-card><mat-card-header><h1>ARERTRRR</h1></mat-card-header></mat-card> -->
<mat-toolbar color='accent'>

  <img src="../../favicon.ico">
  <div class="spacer"></div>
  <div id="mo">
      <a routerLink="/home"  class="links"routerLinkActive="active">
          <div>Home</div>
      </a>
      <a routerLink="/login" routerLinkActive="active"  class="links">
          <div>Login</div>
      </a>
      <a routerLink="/register" routerLinkActive="active" class="links">
          <div> Sign Up </div>
      </a>
  </div>
</mat-toolbar>

