<form [formGroup]="addressForm" validate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Personal Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Company" formControlName="company">
          </mat-form-field>
        </div>
      </div> -->
      <div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstName">
            <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName">
            <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="email" type="email" formControlName="email">
            <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
              email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="contact" type="tel" formControlName="contact">
            <mat-error *ngIf="addressForm.controls['contact'].hasError('required')">
              email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address" formControlName="address"></textarea>
            <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Register as a</mat-label>
            <mat-select formControlName="typ">
              <mat-option value="healthPraticioner">Health Practioner</mat-option>
              <mat-option value="agent">Agent</mat-option>
              <mat-option value="client">Client</mat-option>
            </mat-select>
          </mat-form-field>
        </div><br>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker] = "picker" formControlName="DOB">
            <mat-datepicker-toggle matSuffix [for] = "picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="addressForm.controls['DOB'].hasError('required')">
              Date of Birth is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Password" formControlName="pwd" />
            <mat-error *ngIf="addressForm.controls['pwd'].hasError('required')">
              <strong>Password </strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>